
/*HOME PAGE START*/
body{
  margin:0;
  padding:0px;
}

nav {
  allowtransparency:0.5;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 1;
  -webkit-transition: .13s all;
  transition: .13s all;
}

nav,
.bg-skew,
nav ul {
  allowtransparency:1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  height: 100%;
  width: 95vw;
}

nav ul li {
  list-style: none;

  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}

nav ul li:last-child{
  border-right: none;
}

nav ul li:first-child{
  border-left: none;
}

/* this put home at the right side
nav li:first-child {
  margin-right: auto;
  font-size: 1.6em;
  font-weight: 600
}*/

nav a {
  float:center;
  color: #ffffff;
  text-align: center;
  font-size:20px;
  font-family: 'Simonetta', cursive;
  text-decoration:none;
  padding: 10px 10px;
  margin-right: -1px;
}

nav a:hover {
  background-color: #C9C9C9;
  color: #ffffff;
}


/* this is for the skewed containers*/
.skewedBox{
  background-image: url("https://xtysunshine.files.wordpress.com/2015/07/nike-running-and-sunrise-hd-wallpaper-2.jpg");
  background-size:cover;
  background-position: 30% 90%;
  height: 600px;
  opacity: 0.7;
  filter: grayscale(100%);
  background-repeat: no-repeat;
  /*padding:100px 0;*/
  transform: skew(0deg, 8deg)translateY(-135px);
}


.container{
  color:#F8F8FF;
  font-size:25px;
  font-style:normal;
  font-family: 'Simonetta', cursive;
  text-align:right;
  padding: 250px 1200px;
  transform: skew(0deg, -8deg) translateY(-130px);
  font-family: ;
}


.circle{
  position:fixed;
  top:74%;
  left:84%;
  transform:translate(-50%, -50%);
  border: 1px solid #ffffff;
  border-radius: 50%;
  width:90px;
  height:90px;
  text-align:center;
  line-height: 100px;
  font-size:50px;
  color:#ffffff;
  overflow:hidden;
  transition-duration: 0.4s;
}

.#sec2{
  color:#ffffff;
}

.circle {
  color:#fff;
  margin:0;
  padding:0;

  animation: animate 1s linear infinite;
}

.circle:hover {
  border-width: medium;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.container h1{
  margin: 0;
  padding: 20px 0;
  font-size:3em;
}

.container p{
  font-size:1em;
  margin:0
  padding:0
  line-height:1.5em;
  width:80%
}

.sec2{
  background: #ffffff;
  padding: 0 200px 150px;
  color:black;
  height:1000px;
  font-style:normal;
  font-family: 'Simonetta', cursive;

}

/* reasons to run */
.sec2 h1{
  display:inline;
  position:relative;
  color:#696969;
  top:-10px;
  bottom:50px;
  font-size:40px;

  font-family: 'Simonetta', cursive;
}

.sec2 img{
  position:absolute;
  left:100px;
  top:600px;
  padding:0px 0px 0px 0px;
}

/* be healthy */
.sec2 h2{
  position:relative;
  padding: 0 0 0px;
  z-index:2;
  color:#696969;
  top:35px;
  bottom:150px;
  left:750px;
  font-size:28px;
  font-family: 'Simonetta', cursive;
}

.sec2 p1{
  position:relative;
  display:block;
  line-height: normal;
  text-align: justify;
  word-break:break-all;
  color:#696969;
  top:10px;
  bottom:250px;
  left:750px;
  font-size:23px;
  font-family: 'Simonetta', cursive;
}


/* 01 */
.sec2 p4{
  position:absolute;
  opacity:0.5;
  z-index:1;
  color:#D3D3D3;
  top:705px;
  bottom:150px;
  left:830px;
  font-size:110px;
  font-family: 'Simonetta', cursive;
}

/* line */
hr{
  display:inline-table;
  position: relative;
  border: 0;
  height: 1.5px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #696969, #ccc);
}

/* everyone needs to start... */
.sec2 h3{
  position:relative;
  z-index:2;
  color:#696969;
  top:125px;
  bottom:150px;
  left:120px;
  font-size:28px;
  font-family: 'Simonetta', cursive;
}

/* 02 */
.sec2 p5{
  position:relative;
  opacity:0.5;
  z-index:1;
  color:#D3D3D3;
  top:-105px;
  bottom:150px;
  left:-20px;
  font-size:110px;
  font-family: 'Simonetta', cursive;
}

.sec2 p2{
  position:relative;
  line-height: normal;
  color:#696969;
  top:110px;
  bottom:250px;
  left:120px;
  font-size:23px;
  font-family: 'Simonetta', cursive;
}



/* third reason? */
.sec2 h4{
  position:relative;
  z-index: 2;
  color:#696969;
  top:85px;
  bottom:50px;
  left:750px;
  font-size:28px;
  font-weight: bold;
  font-family: 'Simonetta', cursive;
}

.sec2 p3{
  position:relative;
  display:block;
  line-height: normal;
  word-break:break-all;
  color:#696969;
  top:50px;

  left:750px;
  font-size:23px;
  font-family: 'Simonetta', cursive;
}

/* 03 */
.sec2 p6{
  position:relative;
  opacity:0.5;
  z-index:1;
  color:#D3D3D3;
  top:-150px;
  bottom:150px;
  left:615px;
  font-size:110px;
  font-family: 'Simonetta', cursive;
}


.line2{
  position:absolute;
  top:200px;
}

.social{
  position:relative;
  text-align: left;
  color:black;
}

.Footer{

  text-align: center;
  color:#696969;
  position:relative;
  left:0;
  bottom:0;
  height:100px;
  width:100%;
  background-color: black;

}

.Footer a{
  vertical-align: middle;

}

/*HOME PAGE END*/
