h1, h2, h3, h4, h5, h6{
  color:;
}

body {
  background-image: url("runbackg.jpeg");
  background-attachment: scroll;
  }


.nav{
  allowtransparency:1;
  overflow: hidden;
  color: black;
  margin:0;
  padding-left: 500px;
}

.nav a {

  float:center;
  color: #f2f2f2;
  text-align: center;
  font-family: 'Simonetta', cursive;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}



.nav-text{
  font-family: 'Simonetta', cursive;
  font-style: normal;
}

.nav-ul{
  font-family: 'Simonetta', cursive;
  list-style: none;
  font-style: normal;
}

.main-header{

  color:#F8F8FF;
  font-size:30px;
  font-style:normal;
  font-family: 'Simonetta', cursive;
  text-align:center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.main2-header{
  color:black;
  font-family: 'Simonetta', cursive;
  text-align:left;
}

.background{
  background-image: url("runbackg.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}




.about-header{
  color:#F8F8FF;
  font-size:15px;
  font-style: normal;
  text-align:center;
}

.about-text{
  color: #F8F8FF;
  font-size: 8px;
  text-align:center;
}


.Footer{
  allowtransparency:1;
  text-align: center;
  color:white;
  position: absolute;
  left:0;
  bottom:0;
  height:100px;
  width:100%;
background-color: black;

}


.images{
  height: 33.3%;
  width:40%;
  padding:10px;
  float: left;
}


body {
  font-family: sans-serif;
}

.flexContainer{
  display:flex;
  flex-direction:column;
  width: 400px;
  margin:auto;
  padding: 150px;
}

.gi_header{
  text-align: center;
  font-size:15px;
  color: #F8F8FF;
  padding:100px;

  font-style:normal;
  font-family: 'Simonetta', cursive;
}





input,
label {
  margin:5px 0;
}

input{
  padding: 10px;
}

.submit{
  background:white;
  color: black;
}

.submit:hover{
  background: grey;
  color:white;
}
